@font-face {
    font-family: 'monster_agregular';
    src: url('monster_ag-webfont.woff2') format('woff2'),
         url('monster_ag-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('Factory.jpeg');
  background-position: -525px 0;
  background-color: rgb(110, 239, 88);
  color: black;
  font-family: Helvetica, serif;
}

h1 {
  font-family: 'monster_agregular', Helvetica, serif;
  font-size: 7vw;
  color: #0258c9;
}

h2 {
  font-size: 33vw;
  color: white;
  z-index: 9999;
  position: absolute;
  margin-top: 7vw;
  left: 40%;
  font-family: 'monster_agregular', Helvetica, serif;
}

h3 {
  text-align: center;
}

.top {
  height: 100px;
  line-height: 100px;
}

.infobox {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  margin-top: 4vw;
  text-align:center;
}

.infobox p {
  margin-top:.7vw;
}

.gameboard {
  background-color: transparent;
  color: white;
  width: 1300px;
  margin-left: -10vw;
  height: 200px;
  line-height: 200px;
}

.hidden {
  display: none;
}

button {
  margin-top: 30px;
  background-color: rgb(4, 149, 140);
  color: white;
}

/*very nice */
.transform {
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.player {
  height: 14vw;
  width: 12vw;
  -webkit-filter: drop-shadow(10px 7px 5px #111);
  filter: drop-shadow(10px 7px 5px #111;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
