@font-face {
    font-family: 'monster_agregular';
    src: url('monster_ag-webfont.woff2') format('woff2'),
         url('monster_ag-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('Factory.jpeg');
  background-color: rgb(110, 239, 88);
  color: black;
}

h1 {
  font-family: 'monster_agregular', Helvetica, serif;
  font-size: 7vw;
}

h2 {
  font-size: 43vw;
  color: white;
  z-index: 9999;
  left: 38vw;
  position: absolute;
  margin-top: -3vw;
}

.top {
  height: 150px;
  line-height: 150px;
}

.gameboard {
  background-color: transparent;
  color: white;
  width: 1300px;
  margin-left: -7vw;
  height: 200px;
  line-height: 200px;
}

.hidden {
  display: hidden;
}

.player {
  height: 14vw;
  width: 12vw;
  -webkit-filter: drop-shadow(10px 7px 5px #111);
  filter: drop-shadow(10px 7px 5px #111;
}

button {
  margin-top: 30px;
  background-color: rgb(4, 149, 140) !important;
  color: white;
}
